.navbar {
    width: 14% !important;
    height: 100vh;
    background-color: #361d6f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar_container{
    box-sizing: border-box;
    padding: 15%;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    flex-direction: column;
}

.profilo, .prodotti, .ordini{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}


.navbar_container h4{
    color: #fff;
    margin-left: 5px;
    position: relative; 
}


.navbar_container h4::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; 
    background-color: #fff; 
    color: #fff;
    position: absolute;
    left: 0;
    bottom: -5px; 
    transform: scaleX(0);
    transition: transform 0.3s ease; 
}

.navbar_container h4:hover::after {
    transform: scaleX(1); 
    transition: transform 0.3s ease;
}

.user-icon {  
    border-radius: 50%;
    padding: 7px;             
    color: #fff;              
    font-size: 20px;          
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.user-icon:hover{
    transform: scale(1.1);
}

.navbar_container:first-child .user-icon {  
    border-radius: 50%;
    padding: 10px;             
    color: #fff;              
    font-size: 25px;           
    margin-right: 10px;       
}

.navbar-icon {
    padding: 2px;             
    color: #fff;              
    font-size: 25px;          
    margin-right: 20px;  
}


.separator {
    width: 70%;
    border: none;
    border-top: 2px solid #fff; 
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoAS{
    color: white;
}

.selected{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
.user-icon-selected{
    border-radius: 50%;
    box-sizing: border-box;
    padding: 15px;             
    color: #361d6f;              
    font-size: 20px;          
    margin-right: 10px;   
    transition: transform 0.3s ease;
}

.selected h4{
    color : #361d6f;
    transition: color 0.3s ease;
}
