.navbar {
    width: 14% !important;
    height: 100vh;
    background-color: #361d6f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar_container {
    box-sizing: border-box;
    padding: 15%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.navbar_top {
    flex-grow: 1;
}

.profilo, .prodotti, .ordini, .logout {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    cursor: pointer;
}

.navbar_container h4 {
    color: #fff;
    margin-left: 5px;
    position: relative; 
}

.navbar_container h4::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; 
    background-color: #fff; 
    color: #fff;
    position: absolute;
    left: 0;
    bottom: -5px; 
    transform: scaleX(0);
    transition: transform 0.3s ease; 
}

.navbar_container h4:hover::after {
    transform: scaleX(1); 
    transition: transform 0.3s ease;
}

.user-icon {  
    border-radius: 50%;
    padding: 7px;             
    color: #fff;              
    font-size: 20px;          
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.user-icon:hover {
    transform: scale(1.1);
}

.navbar_container:first-child .user-icon {  
    border-radius: 50%;
    padding: 10px;             
    color: #fff;              
    font-size: 25px;           
    margin-right: 10px;       
}

.navbar-icon {
    padding: 2px;             
    color: #fff;              
    font-size: 25px;          
    margin-right: 20px;  
}

.separator {
    width: 70%;
    border: none;
    border-top: 2px solid #fff; 
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoAS {
    color: white;
}

.selected{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    background: linear-gradient(to left, transparent 50%, #fff 50%);
    background-size: 200% 100%; /* Estendere il gradiente su tutta la larghezza */
    border-radius: 5px;
    margin-bottom: 20px;
    animation: openFromLeft 0.8s ease forwards;
}

@keyframes openFromLeft {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}



.user-icon-selected {
    border-radius: 50%;
    box-sizing: border-box;
    padding: 15px;             
    color: #361d6f;              
    font-size: 20px;          
    margin-right: 10px;   
    transition: transform 0.3s ease;
}

.selected h4 {
    color: #361d6f;
    transition: color 0.3s ease;
}

.logout {
    padding: 10% 15%; 
}

.box_flex {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #361d6f;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 20px;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
}

.box_flex h4 {
    color: #361d6f;
    margin-left: 10px; /* Adjusted for consistency */
    transition: color 0.3s ease;
}

.box_flex h4::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #361d6f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.box_flex:hover h4::after {
    transform: scaleX(1);
}

.icon_purple {
    color: #361d6f;
    transition: color 0.3s ease;
}

.box_flex:hover {
    transform: scale(1.05);
    color: #361d6f;
}

.box_flex:hover .icon_purple {
    color: #361d6f;
}
