.header {
    width: 86%;
    margin: 2% 4% 2 2%;
}

.header img {
    width: 100%;
    height: 100%;
}

.title_container {
    position: relative; /* Enable positioning for children */
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center; /* Center items vertically */
    box-sizing: border-box;
    margin: 2% 4% 0 4%;
    color: #361d6f;
}

.title_text {
    display: flex;
    flex-direction: column;
}

.title_container h1 {
    margin: 0;
}

.title_container h2 {
    margin: 0;
}

.logo_container {
    position: absolute; /* Absolute positioning */
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the right */
    width: 25%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
}

.logo_container img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
}

.add_container {
    display: inline-block;
    flex-direction: column;
    color: #361d6f;
    margin-right: 3%;
}

.add_container h2 {
    margin-bottom: 2%;
}

.plus-icon {
    width: 25px;
    height: 25px;
    background-color: #361d6f;
    border: 1em solid #361d6f; /* Diminuisci la dimensione del bordo */
    color: white;
    border-radius: 20%; /* Rendi il bottone circolare */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra per dare profondità */
}

.plus-icon:hover {
    transform: scale(1.1); 
}

.welcome_container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0% 4% 0 4%;
    align-items: baseline;
}

.products_container {
    margin: 2% 4%;
    color: #361d6f;
    padding: 0 !important;
}

.products_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    background-color: #361d6f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #2b155a;
    transform: scale(1.05);
}

.products {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.products_container h2 {
    margin: 0; 
}
