.header{
    width: 86%;
}

.title_container{
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    padding: 0 4%;
    color: #361d6f;
}

.title_container h1{
    margin-right: 4%;
}

.add_container{
    width: 100%;
    flex-direction: column;
    color: #361d6f;
}

.add_container h2{
    margin-bottom: 2%;
}

.plus-icon{
    width: 30px;;
    height: 30px;;
    background-color: #361d6f;
    border: 2em solid #361d6f;
    color: white;
    border-radius: 15%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.plus-icon:hover {
    transform: scale(1.1); 
}

.welcome_container{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 4%;
}

.products_container{
    box-sizing: border-box;
    padding: 0 0 0 4%;
    color: #361d6f;
}

.products{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5%;
}

.products_container h2{
    margin-bottom: 4%;
}
