.modal {
  width: 40%;
  height: 70%;
}

.popup-content {
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Assicura che il padding sia incluso nella larghezza */
}

input[type="number"] {
  width: 100%;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-list li.active {
  background-color: #361d6f;
  color: white;
}

.close-button,
.submit-button {
  background-color: #361d6f !important;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-button:hover,
.submit-button:hover {
  background-color: green !important;
}
 
.plus-icon {
  font-size: 24px;
  cursor: pointer;
  color: #007bff;
}

.plus-icon:hover {
  color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.input_container_create {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.close-button,
.submit-button {
  width: 47%;
}
.label_create{
 display: flex;
 justify-content: start;
}

.button_beetween{
  display: flex;
  justify-content: space-between;
}

.p_create {
  white-space: nowrap; 
  text-align: center;
}
