.modal_editProduct {
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.modal_editProduct img{
    width: 30%;
}

.overlay_editProduct {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.popup-content_editProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-content_editProduct h2 {
    color: #333;
    margin-bottom: 20px;
}

.popup-content_editProduct label {
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.popup-content_editProduct input[type="text"],
.popup-content_editProduct input[type="number"],
.popup-content_editProduct textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.popup-content_editProduct textarea {
    height: 100px;
    resize: none;
}

.popup-content_editProduct button {
    background-color: #361d6f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    width:48%;
}

.popup-content_editProduct button:hover {
    opacity: 0.8;
}

.popup-content_editProduct .close-button {
    background-color: #dc3545;
}

.popup-content_editProduct .close-button:hover {
    background-color: #bd2130;
}

.modal_img_editProduct {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .modal_editProduct {
        width: 80%;
        padding: 10px;
    }

    .popup-content_editProduct {
        width: 100%;
    }
}

