

.header{
    width: 86%;
    margin: 2% 2% 0 0%;
}

.header img{
    width: 100%;
    height: 100%;
}

.title_container_ordine{
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    margin: 0 4%;
    color: #361d6f;
}

.title_container h1{
    margin-right: 2%;
}

.add_container_ordine{
    display: inline-block;
    flex-direction: column;
    color: #361d6f;
    margin-right: 3%;
}

.add_container_ordine h2{
    margin-bottom: 2%;
}

.plus-icon_ordine {
    margin-top: 25px;
    width: 25px;
    height: 25px;
    background-color: #361d6f;
    border: 1em solid #361d6f; /* Diminuisci la dimensione del bordo */
    color: white;
    border-radius: 20%; /* Rendi il bottone circolare */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra per dare profondità */
}

.plus-icon_ordine:hover {
    transform: scale(1.1); 
}

.welcome_container_ordine{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0% 4% 2% 4%;
    align-items: baseline;
}


.purple-color{
    background-color: #361d6f;
    color: white;
}

.purple-color:hover{
    background-color: #402383;
    color: white;
}

.ordine{
    width: calc(100%); /* Larghezza della finestra visualizzata meno 40px (20px di padding da entrambi i lati) */
    display: flex;
    background-color: #fff;
    height: 100vh;
    background-color: #001692;
    background: linear-gradient(to right, #ffffff, #adb9ff);
}

.products_container_ordine{
    box-sizing: border-box;
    margin: 0% 4%;
    color: #361d6f;
}

.all_products_div {
    margin-bottom: 2%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.5);
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  