USE [master]
GO
/****** Object:  Database [AcademyShopDB]    Script Date: 23/05/2024 16:02:14 ******/
CREATE DATABASE [AcademyShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcademyShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AcademyShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcademyShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AcademyShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcademyShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcademyShopDB]
GO
/****** Object:  Table [dbo].[Dettaglio_Ordine]    Script Date: 23/05/2024 16:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dettaglio_Ordine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_Ordine] [int] NOT NULL,
	[FK_ID_Prodotto] [int] NOT NULL,
	[Quantita] [int] NOT NULL,
 CONSTRAINT [PK_Dettaglio_Ordine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordine]    Script Date: 23/05/2024 16:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_Utente] [int] NOT NULL,
	[Data_Registrazione] [datetime] NOT NULL,
	[Data_Aggiornamento] [datetime] NULL,
	[FK_ID_Stato] [int] NOT NULL,
 CONSTRAINT [PK_Ordine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodotto]    Script Date: 23/05/2024 16:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodotto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Descrizione] [varchar](50) NOT NULL,
	[Quantità] [int] NOT NULL,
 CONSTRAINT [PK_Prodotto_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stato_Ordine]    Script Date: 23/05/2024 16:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stato_Ordine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Stato_Ordine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utente]    Script Date: 23/05/2024 16:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [varchar](50) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Data_Nascita] [date] NOT NULL,
	[Citta_Nascita] [varchar](50) NOT NULL,
	[Provincia_Nascita] [char](2) NOT NULL,
	[Sesso] [char](1) NOT NULL,
	[Codice_Fiscale] [char](16) NOT NULL,
	[Data_Registrazione] [datetime] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [char](16) NOT NULL,
 CONSTRAINT [PK_Utente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dettaglio_Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Dettaglio_Ordine_Dettaglio_Ordine] FOREIGN KEY([FK_ID_Ordine])
REFERENCES [dbo].[Ordine] ([ID])
GO
ALTER TABLE [dbo].[Dettaglio_Ordine] CHECK CONSTRAINT [FK_Dettaglio_Ordine_Dettaglio_Ordine]
GO
ALTER TABLE [dbo].[Dettaglio_Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Dettaglio_Ordine_Prodotto] FOREIGN KEY([FK_ID_Prodotto])
REFERENCES [dbo].[Prodotto] ([ID])
GO
ALTER TABLE [dbo].[Dettaglio_Ordine] CHECK CONSTRAINT [FK_Dettaglio_Ordine_Prodotto]
GO
ALTER TABLE [dbo].[Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Ordine_Stato_Ordine] FOREIGN KEY([FK_ID_Stato])
REFERENCES [dbo].[Stato_Ordine] ([ID])
GO
ALTER TABLE [dbo].[Ordine] CHECK CONSTRAINT [FK_Ordine_Stato_Ordine]
GO
ALTER TABLE [dbo].[Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Ordine_Utente] FOREIGN KEY([FK_ID_Utente])
REFERENCES [dbo].[Utente] ([ID])
GO
ALTER TABLE [dbo].[Ordine] CHECK CONSTRAINT [FK_Ordine_Utente]
GO
USE [master]
GO
