USE [master]
GO
/****** Object:  Database [AcademyShopDB]    Script Date: 22/05/2024 10:34:50 ******/
CREATE DATABASE [AcademyShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcademyShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AcademyShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcademyShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AcademyShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcademyShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcademyShopDB]
GO
/****** Object:  Table [dbo].[Dettaglio_Ordine]    Script Date: 22/05/2024 10:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dettaglio_Ordine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_Ordine] [int] NOT NULL,
	[FK_ID_Prodotto] [int] NOT NULL,
	[Quantita] [int] NOT NULL,
 CONSTRAINT [PK_Dettaglio_Ordine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordine]    Script Date: 22/05/2024 10:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_Utente] [int] NOT NULL,
	[Data_Registrazione] [datetime] NOT NULL,
	[Data_Aggiornamento] [datetime] NULL,
	[FK_ID_Stato] [int] NOT NULL,
 CONSTRAINT [PK_Ordine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodotto]    Script Date: 22/05/2024 10:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodotto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [varchar](50) NOT NULL,
	[Quantita] [int] NOT NULL,
 CONSTRAINT [PK_Prodotto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stato_Ordine]    Script Date: 22/05/2024 10:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stato_Ordine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Stato_Ordine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utente]    Script Date: 22/05/2024 10:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [varchar](50) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Codice_Fiscale] [char](16) NOT NULL,
	[Data_Registrazione] [datetime] NOT NULL,
	[Password] [char](16) NOT NULL,
 CONSTRAINT [PK_Utente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dettaglio_Ordine] ON 

INSERT [dbo].[Dettaglio_Ordine] ([ID], [FK_ID_Ordine], [FK_ID_Prodotto], [Quantita]) VALUES (1, 1, 1, 10)
INSERT [dbo].[Dettaglio_Ordine] ([ID], [FK_ID_Ordine], [FK_ID_Prodotto], [Quantita]) VALUES (2, 2, 2, 20)
INSERT [dbo].[Dettaglio_Ordine] ([ID], [FK_ID_Ordine], [FK_ID_Prodotto], [Quantita]) VALUES (3, 3, 3, 30)
SET IDENTITY_INSERT [dbo].[Dettaglio_Ordine] OFF
GO
SET IDENTITY_INSERT [dbo].[Ordine] ON 

INSERT [dbo].[Ordine] ([ID], [FK_ID_Utente], [Data_Registrazione], [Data_Aggiornamento], [FK_ID_Stato]) VALUES (1, 3, CAST(N'2024-05-20T10:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Ordine] ([ID], [FK_ID_Utente], [Data_Registrazione], [Data_Aggiornamento], [FK_ID_Stato]) VALUES (2, 4, CAST(N'2024-05-20T10:30:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Ordine] ([ID], [FK_ID_Utente], [Data_Registrazione], [Data_Aggiornamento], [FK_ID_Stato]) VALUES (3, 5, CAST(N'2024-05-20T11:00:00.000' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[Ordine] OFF
GO
SET IDENTITY_INSERT [dbo].[Prodotto] ON 

INSERT [dbo].[Prodotto] ([ID], [Descrizione], [Quantita]) VALUES (1, N'Smartphone Samsung Galaxy', 100)
INSERT [dbo].[Prodotto] ([ID], [Descrizione], [Quantita]) VALUES (2, N'Laptop Dell XPS 13', 50)
INSERT [dbo].[Prodotto] ([ID], [Descrizione], [Quantita]) VALUES (3, N'Cuffie Bose QuietComfort', 200)
SET IDENTITY_INSERT [dbo].[Prodotto] OFF
GO
SET IDENTITY_INSERT [dbo].[Stato_Ordine] ON 

INSERT [dbo].[Stato_Ordine] ([ID], [Descrizione]) VALUES (1, N'CREATO')
INSERT [dbo].[Stato_Ordine] ([ID], [Descrizione]) VALUES (2, N'AGGIORNATO')
INSERT [dbo].[Stato_Ordine] ([ID], [Descrizione]) VALUES (3, N'CHIUSO')
SET IDENTITY_INSERT [dbo].[Stato_Ordine] OFF
GO
SET IDENTITY_INSERT [dbo].[Utente] ON 

INSERT [dbo].[Utente] ([ID], [Cognome], [Nome], [Codice_Fiscale], [Data_Registrazione], [Password]) VALUES (3, N'Rossi', N'Mario', N'RSSMRA80A01H501Z', CAST(N'2023-01-01T10:00:00.000' AS DateTime), N'password1')
INSERT [dbo].[Utente] ([ID], [Cognome], [Nome], [Codice_Fiscale], [Data_Registrazione], [Password]) VALUES (4, N'Bianchi', N'Luigi', N'BCHLGU80A01F205X', CAST(N'2023-02-15T11:30:00.000' AS DateTime), N'password2')
INSERT [dbo].[Utente] ([ID], [Cognome], [Nome], [Codice_Fiscale], [Data_Registrazione], [Password]) VALUES (5, N'Verdi', N'Carla', N'VRDCRL80A01L219Q', CAST(N'2023-03-20T14:45:00.000' AS DateTime), N'password3')
SET IDENTITY_INSERT [dbo].[Utente] OFF
GO
ALTER TABLE [dbo].[Dettaglio_Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Dettaglio_Ordine_Ordine] FOREIGN KEY([FK_ID_Ordine])
REFERENCES [dbo].[Ordine] ([ID])
GO
ALTER TABLE [dbo].[Dettaglio_Ordine] CHECK CONSTRAINT [FK_Dettaglio_Ordine_Ordine]
GO
ALTER TABLE [dbo].[Dettaglio_Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Dettaglio_Ordine_Prodotto] FOREIGN KEY([FK_ID_Prodotto])
REFERENCES [dbo].[Prodotto] ([ID])
GO
ALTER TABLE [dbo].[Dettaglio_Ordine] CHECK CONSTRAINT [FK_Dettaglio_Ordine_Prodotto]
GO
ALTER TABLE [dbo].[Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Ordine_Stato_Ordine] FOREIGN KEY([FK_ID_Stato])
REFERENCES [dbo].[Stato_Ordine] ([ID])
GO
ALTER TABLE [dbo].[Ordine] CHECK CONSTRAINT [FK_Ordine_Stato_Ordine]
GO
ALTER TABLE [dbo].[Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Ordine_Utente] FOREIGN KEY([FK_ID_Utente])
REFERENCES [dbo].[Utente] ([ID])
GO
ALTER TABLE [dbo].[Ordine] CHECK CONSTRAINT [FK_Ordine_Utente]
GO
USE [master]
GO
