.deleteIMG{
    width: 30%;
    margin-bottom: 20px;
}

.buttonDelete:hover{
    background-color: red;
    transform: scale(1.05);
}

.buttonDelete{
    background-color: #361d6f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    transition: transform 0.3s ease;
}