.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    
    .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    }
    
    .popup-content {
    text-align: center;
    }
    
    h2 {
    color: #333;
    margin-bottom: 10px;
    }
    
    p {
    color: #666;
    margin-bottom: 20px;
    }
    
    .close-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    }
    
    .close-button:hover {
    background-color: #0056b3;
    }

    .trash-button {
        background-color: transparent;
        color: rgb(255, 0, 0);
        border: none;
        padding: 10px 10px;
        font-size: 16px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        transition: all 0.4s ease;
        margin-bottom: 10px;
      }

      .trash-button:hover {
        transform: scale(1.1); 
    }

    .show-button {
        background-color: transparent;
        color: #361d6f;              
        border: none;
        padding: 8px 8px;
        font-size: 16px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        transition: all 0.4s ease;
        margin-bottom: 10px;
      }

      .show-button:hover {
        transform: scale(1.1); 
    }

    .edit-button {
        background-color: rgb(108, 105, 111);
        color: white;
        border: none;
        padding: 8px 8px;
        font-size: 16px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        transition: all 0.4s ease;
      }

      .edit-button:hover {
        transform: scale(1.1); 
    }