.title_container_user{
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    margin: 0% 4% 0 4%;
    color: #361d6f;
    
    border-bottom: 2px solid rgb(17, 0, 58);
    box-sizing: border-box;
    padding-bottom: 2%;
}