.title_container_user{
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    padding: 0% 4% ;
    color: #361d6f;
    margin-right: 2%;
    border-bottom: 2px solid rgb(17, 0, 58);
    box-sizing: border-box;
    padding-bottom: 2%;
}

.flex_utente{
    display: flex;
}

.image_section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image_section img{
    width: 90%;
    height: 80%;
}