.Dashboard{
    width: calc(100%); /* Larghezza della finestra visualizzata meno 40px (20px di padding da entrambi i lati) */

    display: flex;
    background-color: #fff;
    height: 100vh;
    background-color: #001692;
    background: linear-gradient(to right, #ffffff, #adb9ff);
}