.myprofile_container{
        width: 86%;
        margin: 2% 0;
}

.title_container_user {
    display: flex;
    align-items: baseline; 
    box-sizing: border-box;
    margin: 0% 4% 0 4%;
    color: #361d6f;
    border-bottom: 3px solid #361d6f;
}

.title_text h2 {
    color: #361d6f;
}